ERP.Medico/ERP.Medico/Service References/ERPMedicoServiceReference/ERPMedicoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:52878/ERPMedicoService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:52878/ERPMedicoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52878/ERPMedicoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ERP.Medico.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ERPMedicoService_GetAgendamentosMedico_InputMessage">
    <wsdl:part name="parameters" element="GetAgendamentosMedico" />
  </wsdl:message>
  <wsdl:message name="ERPMedicoService_GetAgendamentosMedico_OutputMessage">
    <wsdl:part name="parameters" element="GetAgendamentosMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="ERPMedicoService_GetAgendamentosMedicoData_InputMessage">
    <wsdl:part name="parameters" element="GetAgendamentosMedicoData" />
  </wsdl:message>
  <wsdl:message name="ERPMedicoService_GetAgendamentosMedicoData_OutputMessage">
    <wsdl:part name="parameters" element="GetAgendamentosMedicoDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ERPMedicoService">
    <wsdl:operation name="GetAgendamentosMedico">
      <wsdl:input wsaw:Action="urn:ERPMedicoService/GetAgendamentosMedico" message="ERPMedicoService_GetAgendamentosMedico_InputMessage" />
      <wsdl:output wsaw:Action="urn:ERPMedicoService/GetAgendamentosMedicoResponse" message="ERPMedicoService_GetAgendamentosMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgendamentosMedicoData">
      <wsdl:input wsaw:Action="urn:ERPMedicoService/GetAgendamentosMedicoData" message="ERPMedicoService_GetAgendamentosMedicoData_InputMessage" />
      <wsdl:output wsaw:Action="urn:ERPMedicoService/GetAgendamentosMedicoDataResponse" message="ERPMedicoService_GetAgendamentosMedicoData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>