ERP.Medico/ERP.Medico/Service References/ERPMedicoServiceReference/ERPMedicoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52878/ERPMedicoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ERP.Medico.Web.Models" />
  <xs:element name="GetAgendamentosMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgendamentosMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERP.Medico.Web.Models" minOccurs="0" name="GetAgendamentosMedicoResult" nillable="true" type="q1:ArrayOfAgendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgendamentosMedicoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="medicoId" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgendamentosMedicoDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ERP.Medico.Web.Models" minOccurs="0" name="GetAgendamentosMedicoDataResult" nillable="true" type="q2:ArrayOfAgendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>